# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "./Ressources/city_data.csv"
ride_data_to_load = "./Ressources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

                    city                 date   fare        ride_id
0     Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1     South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2     Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3             Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4             South Jack  2019-03-06 04:28:35  34.58  3908451377344
...                  ...                  ...    ...            ...
2370         Michaelberg  2019-04-29 17:04:39  13.38  8550365057598
2371     Lake Latoyabury  2019-01-30 00:05:47  20.76  9018727594352
2372         North Jaime  2019-02-10 21:03:50  11.11  2781339863778
2373        West Heather  2019-05-07 19:22:15  44.94  4256853490277
2374          Newtonview  2019-04-25 10:20:13  55.84  9990581345298

[2375 rows x 4 columns]

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

                 city           date   fare       ride_id  driver_count   type
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.739410e+12             5  Urban
1  South Michelleport   3/4/19 18:24  30.24  2.343910e+12            72  Urban
2  Port Samanthamouth   2/24/19 4:29  33.44  2.005070e+12            57  Urban
3          Rodneyfort  2/10/19 23:22  23.44  5.149250e+12            34  Urban
4          South Jack    3/6/19 4:28  34.58  3.908450e+12            46  Urban

## Deliverable 1: Get a Summary DataFrame

In [4]:
#  1. Get the total rides for each city type
total_rides_by_type = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides_by_type

NameError: name 'pyber_data_df' is not defined

In [5]:
# 2. Get the total drivers for each city type
total_driver_by_type = city_data_df.groupby(["type"]).sum()["driver_count"]
total_driver_by_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [6]:
#  3. Get the total amount of fares for each city type
total_fare_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fare_by_type

NameError: name 'pyber_data_df' is not defined

In [8]:
#  4. Get the average fare per ride for each city type. 
avg_fare_per_ride = total_fare_by_type / total_rides_by_type
avg_fare_per_ride

NameError: name 'total_fare_by_type' is not defined

In [7]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = total_fare_by_type / total_drivers_by_type
avg_fare_per_driver

In [8]:
#  6. Create a PyBer summary DataFrame. 
summary = {
    "Total Rides": total_rides_by_type,
    "Total Drivers": total_drivers_by_type,
    "Total Fares": total_fare_by_type,
    "Average Fare per Ride": avg_fare_per_ride,
    "Average Fare": 
}
pyber_ride_summary = pd.DataFrame(summary) 
pyber_ride_summary_df

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name

pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.
pyber_ride_summary_df["Total Rides"] = pyber_ride_summary_df["Total Rides"].map("{:,}".format)
pyber_ride_summary_df["Total Drivers"] = pyber_ride_summary_df["Total Drivers"].map("{:,}".format)
pyber_ride_summary_df["Total Fares"] = pyber_ride_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_ride_summary_df["Average Fare per Ride"] = pyber_ride_summary_df["Average Fare per Ride"].map("${:,.2f}".format)
pyber_ride_summary_df["Average Fare per Driver"] = pyber_ride_summary_df["Average Fare per Driver"].map("${:,.2f}".format)

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame
pyber_data_df = pyber_data_df.rename(coulmns = {
    "city": "City",
    "date": "Date",
    "fare": "Fare",
    "ride_id": "Ride ID",
    "driver_count": "No. Drivers",
    "type": "City Type"
})
pyber_data_df

In [10]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
pyber_data_df.set_index(pyber_data_df["Date"], inplace = True)
column_names = ["Date", "City Type", "Fare"]
pyber_cities_fare = pyber_data_df[column_names].copy()
pyber_cities_fare


pyber_cities_fare.drop(["Date"],axis = 1, inplace = True)
pyber_cities_fare.head()
pyber_cities_fare.info()

NameError: name 'pyber_data_df' is not defined

In [9]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

sum_fare_by_type = pyber_cities_fare.groupby(["City Type","Date"]).sum()[["Fare"]]
sum_fare_by_type
sum_fare_by_type = pd.DataFrame(sum_fare_by_type)
sum_fare_by_type
sum_fare_by_type = sum_fare_by_type.reset_index()
sum_fare_by_type

sum_fare_by_type_pivot = sum_fare_by_type.pivot(index="Date", columns="City Type")["Fare"]
sum_fare_by_type_pivot.head(10)

sum_fare_by_type_pivot.info()

NameError: name 'column' is not defined

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
fare_Jan_April = sum_fare_by_type_pivot.loc['2019-01-01','2019-04-28']
fare_Jan_April.head(20)

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
weekly_fares_df = fare_Jan_April.resample("W)").sum()
weekly_fares_df

from matplotlib import style
import matplotlib.pyplot as plt
style.use("fivethirtyeight")
ax = weekly_fares_df.plot(figsize=(20,6))

ax.set_title("Total Fare by City Type")

ax.set_xlabel("Month")
ax.set_ylabel("Fare ($USD)")
plt.figure.savefig ("Challenge_fare_summary.png")
plt.show()

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')